@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300&display=swap");

* {
  font-family: "Rubik", sans-serif;
}
::-webkit-scrollbar {
  width: 9.6px !important; /* 0.6rem * 16px */
  background-color: black !important;
  border-radius: 8px !important; /* 0.5rem * 16px */
}

::-webkit-scrollbar-thumb {
  background-color: darkgray !important;
  border-radius: 8px !important; /* 0.5rem * 16px */
}

::-webkit-scrollbar-thumb:hover {
  background-color: grey !important;
}
